
@model axis.Models.AxisBank_tblLoginModel


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Login.css" rel="stylesheet" />





<div class="login-form-container">
    @using (Html.BeginForm("Login", "AxisBankHome", FormMethod.Post, new { @class = "login-form" }))
    {
        <h2>Login</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="forgot-password-link">
            @Html.ActionLink("Forgot Password?", "ForgotPassword", "AxisBankHome", new { }, new { })
        </div>


        <div class="register-link">
            Don't have an account?
            @Html.ActionLink("Register here", "SignUp", "AxisBankHome", new { }, new { @class = "register-link" })
        </div>

    }
</div>





