@model validataionInLooselyBinding.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SubmitData", "Home", FormMethod.Post))
        {
            /*loosely binding
            @Html.TextBox("FirstName") <br />
            @Html.ValidationMessage("FirstName")<br />
            @Html.TextBox("LastName") <br />
            @Html.ValidationMessage("LastName")<br />
            @Html.TextBox("Email") <br />
            @Html.ValidationMessage("Email")<br />
            @Html.TextBox("Age") <br />
            @Html.ValidationMessage("Age")<br />

            <input type="submit" value="click" />*/

            /*strongly binding

            @Html.TextBoxFor(x => x.FirstName) <br />
            @Html.ValidationMessageFor(x => x.FirstName)<br />

            @Html.TextBoxFor(x => x.LastName) <br />
            @Html.ValidationMessageFor(x => x.LastName)<br />

            @Html.TextBoxFor(x => x.Email) <br />
            @Html.ValidationMessageFor(x => x.Email)<br />

            @Html.TextBoxFor(x => x.age) <br />
            @Html.ValidationMessageFor(x => x.age)<br />

            <input type="submit" value="click" />
            */

            @Html.ValidationSummary()
            @Html.TextBoxFor(x => x.FirstName) <br />
           

            @Html.TextBoxFor(x => x.LastName) <br />
           

            @Html.TextBoxFor(x => x.Email) <br />
           

            @Html.TextBoxFor(x => x.age) <br />
           

            <input type="submit" value="click" />

        }
    </div>
</body>
</html>
